.header{
  text-align: center;
  color: White;
  font-family: Helvetica;
  font-size: 18px;
  background-image: url("../images/the-flatiron-building.png");
}
h1{
  font-size: 70px;
  font-weight: bold;
}
body{
  text-align: center;
}
